body{
    background: lightcyan;
}
#main{
    overflow:auto;
    width: 100vw;
}
#search{
    color:white;
    display: flex;
    background:url("../image/header-wrapper-bg.jpg") repeat;
    justify-content:space-around;
    align-items: center;
    top: 0;
    float: left;
    width: 100vw;
    height: 100px;
    box-sizing: content-box;
}
#lhs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top: 220px;
    float: left;
    width: 300px;
    background-color: lightcyan;
}
#rhs{
    width: auto;
    margin-top: 100px;
    margin-left: 300px;
    background-color: lightcyan;//snow
height:auto!important;
    min-height:530px;
}

#but{
    position:fixed;
    bottom: 15px;
    right:15px;
}
.btype{
    display: flex;
    height: 30px;
    width: 200px;
    background-color: cadetblue;
    border: 2px solid lightcyan;
    justify-content: center;
}
.col{
    clear:both;
    border:5px ;
    margin-top:20px;
    background-color: lightcyan;
}
#copyright {
    clear: both;
    background:url("../image/header-wrapper-bg.jpg") repeat;
    width: 100vw;
    padding: 3em 0;
    text-align: center;
    color: rgba(255,255,255,.4);
}